body {
  color: #333;

}


.colorText{
	color: white;
}

@media only screen and (max-width: 768px) {
	.mapa{
		height: 300px; 
		width: 200px; 
		opacity: 0.7;
	}

	.nav_eventos{
		margin-left: 20px;
	}
}


.navBar{
	background-color: #0000FF;
	color: white;
}


.tamanoIconos{
	font-size: 30px;
}


